.cart-wrapper {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: var(--background-color);
    color: var(--text-color);
    &.active {
        display: flex;
        flex-direction: column;
    } 
}



.title {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    height: calc(100vh - 35.6px);
    gap: 1rem;
    .title_header {
        font-size: 3rem;
        color: var(--text-color);
    }
    .title_subheader {
        font-size: 2rem;
        color: var(--text-color);
    }
    .button {
        font-size: 2rem;
        padding: 1rem 5rem;
        margin-top: 4rem;
        border-radius: 1rem;
        background-color: var(--text-color);
        color: var(--background-color);
        transition: .3s;
        &:active {
            transform: scale(.95);
        }
    }
}

.cart-item {
    width: 90%;
    margin: 1rem auto;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--light-background-color);
    border-radius: 1rem;
    .cart-item__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .cart-item__name {
            font-size: 1.5rem;
            padding: 0.2rem 0;
        }
    }
    .cart-item__pic-wrapper {
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        .cart-item__pic {
            border-radius: 1rem;
            width: 90%;
            height: 90%;
        }
    }
    .cart-item-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        height: 2rem;
        width: 2rem;
        padding: 1.5rem;
        border-radius: 99999px;
        background-color: var(--background-color);
        color: var(--text-color);
        border: 1px solid var(--light-background-color);
    }
}

.write-cart-button {
    display: flex;
    margin: 2rem auto;
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: var(--background-color);
    background-color: var(--text-color);
    transition: .3s;
    &:active {
        transform: scale(.95);
    }
    a {
        color: var(--background-color);
    }
}

.full-cart {
    padding-top: 3rem;
}