.theme-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
}
.feather-moon {
    color: var(--text-color);
    transition: .3s;
        &:active {
            transform: scale(.95);
         }
}