$color: rgba(128, 128, 128, 0.252);
$transparent: rgba(0, 0, 0, 0);

.intro-menu__header {
    background-color: var(--background-color);
    height: 10rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2rem;
    margin-bottom: 2rem;
    border-bottom: .2rem solid var(--light-background-color);
    transition: .3s;
    .header-caption {
        color: var(--text-color);
        font-size: 3rem;
    }
}

.intro-menu {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    gap: .5rem;

    .intro-menu__item {
        display: flex;
        flex-direction: row;
        border-radius: 2rem;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
        border: 0.1rem solid var(--light-background-color);
        transition: .3s;
        text-decoration: none;

        &:active {
            transform: scale(.95);
        }

        &.disabled {
            &:active {
                transform: none;
            }

            .item-name {
                color: var(--light-text-color);
            }

            img {
                filter: grayscale(1);
                opacity: .7;
            }

            background: linear-gradient(-45deg,
                    $transparent 49.9%, 
                    $color 49.9%, $color 60%, 
                    $transparent 60%
                ),
                linear-gradient(-45deg,
                    $color 10%,
                    $transparent 10%
                );
            background-size: 2em 2em;
            background-color: var(--light-background-colors);
        }

        .item-name {
            font-size: 2.5rem;
            color: var(--text-color);
        }

        .item-pic {
            height: 10rem;
            width: 10rem;
            border-radius: 2rem;
        }
    }
}
