.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 5px 0;
    color: var(--text-color);
    border-top: 1px solid rgb(233, 233, 233);
    font-size: 12px;
    margin-top: 10px;
    font-weight:  500;
}