@import './styles/themes.scss';
* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
html {
	overflow-y: scroll;
	overflow-x: hidden;
}
html, body {margin: 0; height: 100%;}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
  transition: background-color 100ms linear;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: .3s;
}

