.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 90%;
    margin: 0 auto;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--light-background-color);
    .header-name {
        color: var(--text-color);
        text-decoration: none;
        font-size: 20px;
        transition: .3s;
        font-weight: 600;
        border-radius: 1rem;
    }
    .helpers {
        display: flex;
        justify-content: center;
        align-self: center;
        gap: 5px;
    }
}


