.filter-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;

    .found-number {
        font-size: 1.2rem;
    }

    .sort-list {
        font-size: 1.2rem;
        display: flex;
        flex-direction: row;
        margin: 1rem 0;
        gap: 1rem;

        .sort-item {
            color: var(--text-color);
            background-color: var(--light-background-color);
            border-radius: 2rem;
            padding: 0.7rem 1.4rem;
            cursor: pointer;
        }
    }
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    position: fixed;
    z-index: 100;
    width: 100vw;
    max-height: 0;
    opacity: 0;
    left: 0;
    bottom: 0;
    transition: max-height 600ms ease, opacity 600ms ease;
    overflow: hidden;

    &.active-popup {
        border-top: 1px solid var(--light-background-color);
        max-height: 50vh; // Fixed height for all popups
        opacity: 1;
        transition: max-height 600ms ease, opacity 600ms ease;
    }
    .popup-caption {
        padding: 2rem 0;
        font-size: 1.8rem;
        height: 2rem;
    }
    .filter-properties {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        justify-content: space-around;
        
        .popup-name {
            font-size: 2rem;
        }
        .filter-items {
            font-size: 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            height: 60%;
            padding: 1rem 0;

            .item-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                
                .filter-item {
                    padding: 0.5rem 0;
                    width: 100%;
                    margin: .3rem 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
                    input[type=checkbox] {
                        margin-right: .5rem;
                        width: 1.3em;
                        height: 1.3em;
                        background-color: white;
                        border-radius: 50%;
                        vertical-align: middle;
                        border: .1rem solid var(--light-background-color);
                        cursor: pointer;
                        &:checked {
                            color: var(--background-color);
                            background-color: var(--text-color);
                        }
                    }
            }
        }
        .accept-button {
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.4rem;
            color: var(--background-color);
            background-color: var(--text-color);
            border-radius: 1rem;
            margin-bottom: 1.5rem;
        }
    }

    .close-popup {
        position: absolute;
        top: 0;
        padding: 1.8rem 0;
        right: 1rem;
        color: var(--text-color);
        cursor: pointer;
    }
}