.cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 9999px;
    z-index: 1000;
    transition: .3s;
}

.helper-button {
    color: var(--text-color);
    transition: .3s;
        &:active {
            transform: scale(.95);
         }
}